.column-wrap
  %section.column
    .stream
      %header.channel
        = @channel['title']

      - @blocks.each do |block|
        %article.post
          - if block['title']
            %header.block
              = block['title']
          .content
            = partial "representations/full/#{block['block_type'].downcase}", :locals => { "#{block['block_type'].downcase}".to_sym => block }
    .connections
      %ul
        - if @connections
          - @connections.each do |connection|
            - if connection[:published] == true
              %li{:class => channel_active_class(connection[:slug], @channel['slug'])}
                = link_to connection[:title], url_for(:channels, :show, :id => connection[:slug].to_s), :class => channel_active_class(connection[:slug], @channel['slug'])
        - else
          %li.active
            = link_to @channel['title'], url_for(:channels, :show, :id => @channel['slug'].to_s), :class => 'active'