.column-wrap{:id => "#{@channel['slug']}"}
  %section.column

    .channel
      .document{:id => "document_#{@channel['slug']}"}
        %header.title{:id => "title_#{@channel['slug']}"}
          = @channel['title']

        - @blocks.each do |block|
          %article.post
            - if block['title']
              %header.block
                = block['title']
            .content
              = partial "representations/full/#{block['block_type'].downcase}", :locals => { "#{block['block_type'].downcase}".to_sym => block }
              - if block['description']
                .description
                  = block['description']

    .connections
      %ul
        - if @channels
          - @channels.each do |connection|
            %li.connection-wrap
              = link_to connection['title'], "/#{connection['slug']}", :class => "connection", :data => { :context => @channel['slug'] }
    
    