%html
  %head
    = stylesheet_link_tag "application"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
    = javascript_include_tag "application"

  %body
    #container
      %section#main= yield
      %footer#fp= image_tag 'fp.png', :title => 'Future Patrol', :alt => 'Future Patrol', :size => '200x63'